{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    О нас
{% endblock %}

{% block other_css %}
    <link rel="stylesheet" href="{% static 'main/css/about.css' %}">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <h1>О нас</h1> <br>
        <div class="intro">
            <img class="pic1" src="{% static 'main/img/about_1.jpg' %}">

            <p>Добро пожаловать в гастропаб «Эдисон» – место, где уникальная атмосфера, вдохновленная великим изобретателем Томасом Эдисоном, встречается с авторской кухней и впечатляющим выбором напитков.</p>

            <p>Мы создали пространство, где каждая деталь – от интерьера в стиле стимпанк до продуманного меню – призвана удивлять и радовать наших гостей. Здесь механизмы оживают, шестеренки крутятся, а свет ламп Эдисона создает уютную и таинственную обстановку.</p>

            <p>«Эдисон» – это место, где прошлое встречается с будущим. Мы вдохновляемся эпохой великих открытий и стремимся привнести этот дух в каждый аспект нашего заведения. Внимание к деталям, смелые кулинарные эксперименты и высокий уровень сервиса – то, что делает наш гастропаб по-настоящему особенным.</p>
        </div>
        <div class="list">
            <h1>Что мы предлагаем?</h1><br>
            <img class="pic2" src="{% static 'main/img/about_2.jpg' %}">
            <ul>
                <li><i class="fa-solid fa-gear" style="color: #cd7f32;"></i><span>Уникальное меню:</span> блюда европейской, американской и азиатской кухонь в авторском исполнении наших шеф-поваров. Попробуйте сочные стейки, морепродукты, оригинальные закуски и десерты, которые запомнятся надолго.</li>

                <li><i class="fa-solid fa-gear" style="color: #cd7f32;"></i><span>Большой выбор напитков:</span> 18 сортов пива, эксклюзивные коктейли и богатая винная карта. Мы знаем толк в идеальных сочетаниях!</li>

                <li><i class="fa-solid fa-gear" style="color: #cd7f32;"></i><span>Атмосфера, которая вдохновляет:</span> стильный интерьер, внимательный сервис и музыка, создающая особое настроение.</li>
            </ul>
        </div>
        <div class="ending">
            <p>Мы верим, что настоящее удовольствие рождается в деталях. Именно поэтому каждый ваш визит в «Эдисон» станет маленьким открытием!</p>

            <p>Загляните в мир вкусов и изобретений – в гастропаб «Эдисон»!</p>
        </div>
    </div>

{% endblock %}